@model IEnumerable<AlphaBlogging.Models.Comment>

@{
  }
  <h2>List of comments</h2>
  <hr />
  <div>
      <ul>
           @foreach (var comment in Model)
    {
        <li>
            <span style="font-weight:500">Author: </span>@Html.DisplayFor(modelItem => comment.Author)
            <br />
            <span style="font-weight:500">Post ID: </span>@Html.DisplayFor(modelItem => comment.PostId)
            <br />
            <span style="font-weight:500">Comment: </span>@Html.DisplayFor(modelItem => comment.Body)
            <br />
             @Html.ActionLink("Edit", "Edit", new { id=comment.Id }) |
             @Html.ActionLink("Details", "CommentView",  new { id=comment.Id }) |
             @Html.ActionLink("Delete", "Remove", new { id=comment.Id })
            <br />
            <hr />
        </li>
    }
      </ul>
  </div>