@model AlphaBlogging.Models.ViewModels.SearchResultsVM

<div class="bg-dark bg-opacity-75 text-light  p-1">
<table class="table text-light table-bordered">
    <thead>
        <tr>
            <th>
                <h3>Blog titles including the term: @Model.SearchTerm</h3>
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var blog in Model.Bloggies ) 
    {
        <tr>
            <td>                
                @*<b>Created by : </b>@blog.Author.UserName<br>
                <b>Creation Time : </b>@blog.Created.ToShortDateString() <b> : </b>@blog.Created.ToShortTimeString()<br>
                <b>Blog Title : </b>@blog.Title*@


                <div class="card flex-row flex-wrap bg-transparent mb-2 text-light">
                    <div class="card-header border-0">
                        <img src="~/image/@Html.DisplayFor(modelItem => blog.BlogImage)" alt="" width="300">
                    </div>
                    <div class="card-block px-2 p-3 d-flex flex-column">
                        <h4 class="m-0 card-title">@Html.DisplayFor(modelItem => blog.Title)</h4>
                        <p class="m-0 font-italic">By: @Html.DisplayFor(modelItem => blog.Author.UserName) | 
                        Created : @blog.Created.ToShortDateString() <b> : </b>@blog.Created.ToShortTimeString()</p>
                        <p class="mt-3 card-text d-inline-block text-truncate" style="max-width: 300px;">
                            @Html.DisplayFor(modelItem => blog.Description)
                        </p>
                        <a href="~/Blog/BlogView/@blog.Id" class="btn btn-primary mt-auto text-white">Read More...</a>
                    </div>
                    <div class="w-100"></div>
                 </div>
            </td>
        </tr>
    }
    </tbody>
</table>


<table class="table text-light table-bordered">
    <thead>
        <tr>
            <th colspan="2">
                <h3>Post titles including the term: @Model.SearchTerm</h3>
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var post in Model.Posties) {
        <tr>
            <td>
               Created by : <b>@post.Blog.Author.UserName </b><br>
                Creation Time : <b>@post.Created.ToShortDateString()  : @post.Created.ToShortTimeString()</b><br>
                Post Title : <b> @post.Title</b>
            </td>
            <td >               
                <h5>@Html.ActionLink("View Post","PostView", "Post", new { Id = @post.Id })</h5>
                <h5>@Html.ActionLink("View Blog","BlogView", "Blog", new { id = @post.BlogId }) </h5>
            </td>
        </tr>
}
    </tbody>
</table>

<table class="table text-light table-bordered">
    <thead>
        <tr>
            <th>
               <h5> Tags including the term: @Model.SearchTerm</h5>
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var tag in Model.Tags)
            {
            <tr>
                <td>               
                    <h5>Number of Posts with This HashTag :  @tag.Posts.Count()</h5>
                </td>   
            </tr>
            }
    </tbody>
</table>
</div>