@using AlphaBlogging.Models;
@model IEnumerable<AlphaBlogging.Models.Blog>

@{
     Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
<br />
<h1>Blog list</h1>
<a href="@Url.Action("Create", "Blog")" class="btn btn-primary"><i class="fas fa-pen"></i> Create new blog</a>
<br /><br />
<table id="datatablesSimple">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                <a asp-controller="Post" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                @Html.ActionLink("Details", "BlogView",  new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<script src="~/js/datatables-simple-demo.js"></script>