@using AlphaBlogging.Models;
@model AlphaBlogging.Models.Blog

@{
    ViewData["Title"] = "BlogView";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
    <br />
<h1>BlogView</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>


<div>
<a href="@Url.Action("Create", "Post", new {blogId = Model.Id} )" class="btn btn-secondary btn-sm"><i class="fas fa-plus"></i> Add Post</a>
    @*@Html.ActionLink("Add Post", "Create", "Post", new {blogId = Model.Id} ) *@
</div>
<br />


<div>
   
    @{ if (Model.Posts != null && Model.Posts.Count() > 0)
        {       
            foreach (var post in Model.Posts.Reverse())
            {
                <div class="container p-3 my-3 text-black" style="background-color:#f1f1f1">
                @*<div style="border-color:black; padding-block:7px;"> </div>*@
                     <partial name="_Post"  model="post" />   
                 
                     @Html.ActionLink("Remove Post", "Remove", "Post", new {id = post.Id, blogId = post.BlogId} ) -|- 
                     @Html.ActionLink("Edit Post", "Edit", "Post", new {id = post.Id, blogId = post.BlogId} ) -|-                 
                     @Html.ActionLink("Add Comment", "Create", "Comment", new {postId = post.Id} )
                   
                 </div> 
                <hr />           
            }

        }
        else
        {
            <h6>No posts yet</h6>
            // Attempting to use mClass here will result in NullReferenceException
        }
    }
</div>




@*<div>
    @Html.ActionLink("Add post", "Create", "Post", new { blogid = Model.Id }) |
    <a asp-action="MyBloglist">Back to List</a>
</div>*@

</div>
