@using AlphaBlogging.Models;
@model AlphaBlogging.Models.Blog

@{
    ViewData["Title"] = "BlogView";
}

<h1>BlogView</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        
    </dl>
</div>


<div>
    @Html.ActionLink("Add Post", "Create", "Post", new {blogId = Model.Id} )   
</div>


<div>
   
    @{ if (Model.Posts != null && Model.Posts.Count() > 0)
        {       
            foreach (var post in Model.Posts.Reverse())
            {
                <div style="border-color:black; padding-block:7px; background-color:beige">
                     <partial name="_Post"  model="post" />   
                 
                     @Html.ActionLink("Remove", "Remove", "Post", new {id = post.Id, blogId = post.BlogId} ) -|- 
                     @Html.ActionLink("Edit", "Edit", "Post", new {id = post.Id, blogId = post.BlogId} ) -|-                 
                     @Html.ActionLink("Add Comment", "Create", "Comment", new {postId = post.Id} )
                 </div>  
                <hr />           
            }

        }
        else
        {
            <h3>No posts yet</h3>
            // Attempting to use mClass here will result in NullReferenceException
        }
    }
</div>




<div>
    @*@Html.ActionLink("Add post", "Create", "Post", new { blogid = Model.Id }) |*@
    <a asp-action="Bloglist">Back to List</a>
</div>
