@model IEnumerable<AlphaBlogging.Models.Blog>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
   Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
<h3 class="mt-4">Welcome @((await UserManager.GetUserAsync(User)).UserName)!</h3>
<h1>Blog list</h1>
<a href="@Url.Action("CreateBlog", "Blog")" class="btn btn-primary"><i class="fas fa-pen"></i> Create new blog</a>
<br /><br />
<table id="datatablesSimple">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "BlogView",  new { id=item.Id }) |
                @Html.ActionLink("Delete", "Remove", new { id=item.Id/* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<script src="~/js/datatables-simple-demo.js"></script>